@import url('https://fonts.googleapis.com/css2? family= Anton & family= Josefin+Sans:wght@100 & family= Lato:wght@400;700 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Righteous & display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(rgba(17,17,17,0.8),rgba(20,20,20,1)),url("imagens/Aline\ Santos-25.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Righteous', sans-serif ;
}


a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header h1 {
    text-align: center;
    font-size: 1.5rem;
}

table{
    width: 70%;
    margin-top: 30px;
    margin: auto;
    border-collapse: collapse;
}

caption{
    color: white;
    margin-bottom: 30px;
    font-size: 1.4em;
    font-weight: bolder;
    padding: 5px;
}
th,td{
    font-weight: bolder;
    border: 1px solid rgb(221, 219, 219);
    text-align: center;
    padding: 10px;
    width: 150px; 
    background-color: rgba(193, 227, 238, 0.582);
    cursor: pointer;
}  

th{
    background-color: rgba(0, 0, 139, 0.74);
    color: white;
}

td.cor1{
    background-color: green;
   color: black;
}
td.cor2{
    background-color: rgb(33, 171, 218);
    ccolor: black;
}
td.cor3{
    background-color: rgb(209, 209, 39);
    color: black;
}
td.cor4{
    background-color: rgb(94, 12, 172);
    color: black;
}

h1{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 1.8rem;
}

main.principal{
    margin: 30px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


.picture{
    background: linear-gradient(rgba(0, 0, 0, 0.678),rgb(163, 167, 165)),url("imagens/IMG_2050.jpg") no-repeat ;
    background-size: cover;
    color: #fff;
    border: 1px solid black; 
    padding: 5px;
    width: 900px;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    border-radius:10px ;
}


.picture2{
    background: linear-gradient(rgba(0, 0, 0, 0.678),rgb(163, 167, 165)),url("imagens/Aline\ Santos-25.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    border: 1px solid black; 
    padding: 5px;
    width: 900px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
}
img,p{
    display: inline-block;
}











