@import url('https://fonts.googleapis.com/css2? family= Anton & family= Josefin+Sans:wght@100 & family= Lato:wght@400;700 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Righteous & display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(rgba(17,17,17,0.8),rgba(20,20,20,1)),url("imagens/Aline\ Santos-25.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Righteous', sans-serif ;
    height: 100vh;
}


header a{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav{
    width:100%;
    display: flex;
    justify-content: center;
    margin: 40px;
}
.nav a {
    text-decoration: none;
    margin: 10px;
    color: white;
    padding: 15px;
    font-weight: bolder;
    transition: all 0.5s;
}
.nav a:hover{
    background-color: #2E3192;
    border-radius: 10px;
} 

.title{
    margin: auto;
    width: 600px;
    
}

h1{
    border-bottom: 2px solid #ECB40B;
    line-height: 1.2em;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 1.8rem;
}

main.principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title2{
    margin: auto;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
    padding: 10px;
    
}

.t3{
    margin: auto;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px ;
    width: 100%;
    padding: 10px;
}

h2{
    border-bottom: 2px solid #ECB40B;
}




.picture{
    position: relative;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.678),rgba(6, 2, 27, 0.884)),url("imagens/IMG_2050.jpg"),no-repeat ;
    background-size: cover;
    color: #fff;
    border: 1px solid black; 
    width: 1100px;
    height:450px;
    border-radius:10px ;
    padding: 10px 10px 10px 10px;
    gap: 20px;
}


.picture2{
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(rgba(0, 0, 0, 0.678),rgba(40, 41, 1, 0.945)),url("imagens/Aline\ Santos-25.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    border: 1px solid black; 
    width: 1100px;
    height: 450px;
    border-radius:10px;
    padding: 10px 10px 10px 10px;
    
}

.picture3{
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(rgba(0, 0, 0, 0.678),rgba(40, 41, 1, 0.945)),url("imagens/Krav_Maga_autocontrol.jpg") no-repeat top right;
    background-size: cover;
    color: #fff;
    border: 1px solid black; 
    width: 1100px;
    height: 450px;
    border-radius: 10px ;
    padding: 10px 10px 10px 10px;
}

.picture4{
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(rgba(0, 0, 0, 0.678),rgb(40, 41, 1, 0.945)),url("imagens/pilates.png") no-repeat center;
    background-size: cover;
    color: #fff;
    border: 1px solid black; 
    width: 1100px;
    height: 450px;
    border-radius:10px ;
    padding: 10px 10px 10px 10px;
}

.picture1{
    position: relative;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.678),rgba(6, 2, 27, 0.884)),url("imagens/karate.jpg"),no-repeat ;
    background-size: cover;
    color: #fff;
    border: 1px solid black; 
    width: 1100px;
    height:450px;
    border-radius:10px ;
    padding: 10px 10px 10px 10px;
    gap: 20px;
}















