@import url('https://fonts.googleapis.com/css2? family= Anton & family= Josefin+Sans:wght@100 & family= Lato:wght@400;700 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Righteous & display=swap');


*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100vh;
    font-size: 62.5%;
    color: black;
    font-family: 'Righteous', sans-serif ;
}   

:root {
    --cor1 : #2E3192;
}

body{
    background: linear-gradient(rgba(17,17,17,0.8),rgba(20,20,20,1)),url("imagens/Aline\ Santos-25.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


footer{
    background-color: black;
    height: 400px;
}

header{
    width: 100%;
    height: 100px;
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    margin: auto;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 20px ;
    font-size: 28px;
    letter-spacing: 0.4rem;
    gap: 10px;
    text-transform: uppercase;
}
.p1{
    color: blue;
    text-transform: uppercase;
}

nav{
    width: 100%;
    background-color: black;

}

.nav-itens{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    font-size: 1.7rem;
    letter-spacing: 0.4rem;
    gap: 20px;
    text-transform: uppercase;
}
 
.nav-itens li a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: 0.3s ease-in;
    font-weight: bold;
}

.nav-itens a:hover{
    border-bottom: 1px solid;
    color: #1a1e96;
}






















main{
    height: 60vh;
}

.main-content{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    color: white;
}
.imagens{
    column-count: 3;
    column-gap: 20px;
} 




#img1{
   
}


img{
    width: 100%;
}

.main-content h1{
    min-width: 350px;
    max-width: 650px;
    margin: auto;
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.main-content h2{
    margin-bottom: 7rem;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
}


 .btn a {
    padding: 5px;
    text-decoration: none;
    color: rgb(226, 219, 219);
 }

 .btn a:hover{
    text-decoration: underline;
 }

 .conteudo {
    margin-top: 150px;
    text-align: center;
 }

 .conteudo h2 {
    color: white;
    font-size: 3rem;
    margin: auto;
    margin-bottom: 40px;
 }

 .conteudo p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
 }

.btn2{
    margin: 30px;
}
.btn2 button{
    margin: auto;
    margin-bottom: 10px;
    min-width: 200px;
    max-width: 650px;
    height: 50px;
    cursor: pointer;
    border: solid 2px rgb(255, 255, 255);
    background-color: darkblue;
    text-transform: uppercase;
    border-radius: 10px;
    
}

.btn2 a {
    padding: 5px;
    text-decoration: none;
    color: white;
}










img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}
.painel-fotos{
    column-count: 3;
    column-gap: 10px;
    margin: 30px;

}

 table{
    font-size: 1.6rem;
    width: 70%;
    margin-top: 30px;
    margin: auto;
    border-collapse: collapse;
}

caption{
    color: white;
    margin-bottom: 30px;
    font-size: 1.4em;
    font-weight: bolder;
    padding: 5px;
}
th,td{
    font-weight: bolder;
    border: 1px solid rgb(221, 219, 219);
    text-align: center;
    padding: 10px;
    width: 150px; 
    background-color: rgba(193, 227, 238, 0.582);
    cursor: pointer;
}  

th{
    background-color: rgba(0, 0, 139, 0.74);
    color: white;
}

td.cor1{
    background-color: green;
   color: black;
}
td.cor2{
    background-color: rgb(33, 171, 218);
    ccolor: black;
}
td.cor3{
    background-color: rgb(209, 209, 39);
    color: black;
}
td.cor4{
    background-color: rgb(94, 12, 172);
    color: black;
}
 


 





 




